In [ ]:
import pandas as pd

sales = pd.read_csv(r"C:\Users\pitti\Downloads\sales_data.csv")
print(sales.head())

   Order_ID   Product     Category  Quantity  Price     Month
0      1001  Notebook   Stationery        50    120   January
1      1002    Laptop  Electronics         2  45000   January
2      1003   Pen Set   Stationery       100    250   January
3      1004     Mouse  Accessories        15    350  February
4      1005  Keyboard  Accessories        12    800  February

In [ ]:
# 2. Create Total_Revenue column
import pandas as pd
sales = pd.read_csv("C:/Users/pitti/Downloads/sales_data.csv")

sales["Total_Revenue"] = sales["Quantity"] * sales["Price"]

print(sales.head())

   Order_ID   Product     Category  Quantity  Price     Month  Total_Revenue
0      1001  Notebook   Stationery        50    120   January           6000
1      1002    Laptop  Electronics         2  45000   January          90000
2      1003   Pen Set   Stationery       100    250   January          25000
3      1004     Mouse  Accessories        15    350  February           5250
4      1005  Keyboard  Accessories        12    800  February           9600

In [25]:
# 3. Total revenue generated for each product
print("Total revenue for each product:")
print(sales.groupby("Product")["Total_Revenue"].sum())

Total revenue for each product:
Product
Calculator      14000
File Folder     18000
Headphones      24000
Keyboard         9600
Laptop          90000
Marker Set      14400
Monitor         72000
Mouse            5250
Notebook         6000
Pen Set         25000
Printer         25500
Scanner         32500
Tablet         100000
USB Drive       14000
Webcam          20000
Name: Total_Revenue, dtype: int64

In [26]:
# 4. Total units sold for each category
print("\nTotal units sold for each category:")
print(sales.groupby("Category")["Quantity"].sum())

Total units sold for each category:
Category
Accessories     90
Electronics     20
Stationery     390
Name: Quantity, dtype: int64

In [27]:
# 5. Average price per unit for each category
print("\nAverage price per unit for each category:")
print(sales.groupby("Category")["Price"].mean())

Average price per unit for each category:
Category
Accessories     1050.0
Electronics    19400.0
Stationery       210.0
Name: Price, dtype: float64

In [28]:
# 6. Product with maximum units sold
print("\nProduct with maximum units sold:")
print(sales.loc[sales["Quantity"].idxmax()])

Product with maximum units sold:
Order_ID                1014
Product          File Folder
Category          Stationery
Quantity                 120
Price                    150
Month                  April
Total_Revenue          18000
Name: 13, dtype: object

In [29]:
# 7. Total revenue for each month
print("\nTotal revenue for each month:")
print(sales.groupby("Month")["Total_Revenue"].sum())

Total revenue for each month:
Month
April       224000
February     54750
January     121000
March        70500
Name: Total_Revenue, dtype: int64

In [30]:
# 8. Products where units sold > 40
print("\nProducts with Quantity greater than 40:")
print(sales[sales["Quantity"] > 40])

Products with Quantity greater than 40:
    Order_ID      Product    Category  Quantity  Price     Month  \
0       1001     Notebook  Stationery        50    120   January
2       1003      Pen Set  Stationery       100    250   January
6       1007   Marker Set  Stationery        80    180  February
13      1014  File Folder  Stationery       120    150     April

    Total_Revenue
0            6000
2           25000
6           14400
13          18000